!!!
html
  head
    title= 'title'
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
  body!= body
    script(src='/javascripts/app.js')
    script 
        require('main')
